.img-style{

    border: 1px solid gray;

    height: 200px;
}

.img-load{
    position: relative;
    /*overflow: hidden;*/
    border: 1px solid gray;
    height: 140px;
}
.img-input{
    position: absolute;
    left: 20px;
    top: 0;
    width: 82%;
    height: 80%;
    /*transform: scale(1.7);*/
    opacity: 0;

    cursor: pointer
}
.img-load[_ngcontent-c1] img{

    max-width: 135px !important;

}
.carousel{
    max-width: 100%;
    display: inline-block;
}
.carousel img{
    max-width: 100%;
}