<div class="container" >
<div>
    <input type="text" [(ngModel)]="ListFilter"> <span> Filter product</span>
</div>
    <div class=" list-product">
      <button class="btn btn-success" (click)="showImage()" >{{btnText}} image</button>
      <button class="btn btn-success" (click)="showDialog()" >open Modal</button>
        <button class="btn btn-success" (click)="showDialogDin('Its dynamic Modal', 'Some text')" >open Modal 2</button>
    </div>

    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th>image</th>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of productes  | search: ListFilter; let p = index" >

        <td><img *ngIf="showimg"
                 [ngStyle]="{'max-width' : '50px'} "
                 src="{{item.img_url}}"></td>
            <td> <a [routerLink]="['/product', p]">{{item.name}}</a></td>
        <td>{{item.code}}</td>
        <td>{{item.price | currency:'USD': true}}</td>
       <app-star [rating]="item.rating"></app-star>

        </tr>
      </tbody>
    </table>

<app-modal-dialog *ngIf="isModalDialogVisible" (isConfirmed)="closeModal($event)"> </app-modal-dialog>
</div>
<section #notificationBlock></section>