<div class="container" >
<div>
    <input type="text" [(ngModel)]="ListFilter"> <span> Filter product</span>
</div>
    <div class=" list-product">
      <button class="btn btn-success" (click)="showImage()" >{{btnText}} image</button>

        <button class="btn btn-success" (click)="showDialogDin()" >open Modal 2</button>
        <button class="btn btn-success" (click)="onData()" >Save Data</button>
    </div>

    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th>image</th>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of productes  | search: ListFilter; let p = index" >

        <td (mouseup)="[showDialog() , id= p]" style="cursor: pointer">
            <img *ngIf="showimg"
                 [ngStyle]="{'max-width' : '50px'} "
                 src="{{item.img_url}}"></td>
            <td > <a [routerLink]="['/product', p]">{{item.name}}</a></td>
        <td>{{item.code}}</td>
        <td >{{item.price | currency:'USD': true}}</td>
       <app-star [rating]="item.rating"></app-star>


        </tr>
      </tbody>
    </table>
</div>
<app-modal-dialog *ngIf="isModalDialogVisible" (isConfirmed)="closeModal($event)"
                  [id]="id">
</app-modal-dialog>
<section #notificationBlock></section>