<div class="conteiner ">
  <div class="row add-news">
    <form   [formGroup]="myForm" novalidate  (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <input class="form-control" name="title" id="title"  placeholder = "Name"   formControlName="name"/>
          <div *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched"
               class="alert alert-danger">
            Please enter a name
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-4">
          <input class="form-control" name="code"  placeholder = "Code"   formControlName="code"/>
          <div *ngIf="myForm.controls['code'].invalid && myForm.controls['code'].touched"
               class="alert alert-danger">
            Please enter code
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <textarea type="number" name="price" class="form-control"  placeholder="Price"  required formControlName="price"> </textarea>
          <div *ngIf="myForm.controls['price'].invalid && myForm.controls['price'].touched || pricenumber"
               class="alert alert-danger">
            Please enter price of number
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <textarea type="number" name="rating" class="form-control"  placeholder="Rating"  required formControlName="rating"> </textarea>
          <div *ngIf="myForm.controls['rating'].invalid && myForm.controls['rating'].touched || pricenumber"
               class="alert alert-danger">
            Please enter raiting number of 0 to 5
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <input type="file" class="form-control" name="img_url"  placeholder="Add image "  formControlName="img_url" id="img_url" #img_url (change)="fileUpload()"  >

          <div *ngIf="myForm.controls['img_url'].invalid && myForm.controls['img_url'].touched"
               class="alert alert-danger">
            Please enter image url
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <div formArrayName="description" >
            <div class="form-group" *ngFor="let description of myForm.controls['description'].controls; let i = index  ">


                <div class="form-group" [formGroupName]="i">
                  <span>Product description {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right"  (click)="removeAddress(i)"></span>
                  <div class="form-control clearfix">
                    <div class="col-xs-4">
                      <label>Color</label>
                      <input type="text" class="" formControlName="color" >
                      <div  >
                        <ul *ngIf=" myForm.controls.description.controls[i].controls.color.dirty" style="list-style: none">
                          <li *ngFor="let colors of desc | filter: myForm.controls.description.controls[i].controls.color.value" >{{colors}}</li>
                        </ul>
                      </div>

                    </div>
                    <div class="col-xs-4">
                      <label>Amount</label>
                      <input type="number" class="" formControlName="amount">

                    </div>
                    <div class="col-xs-4">
                      <label>Category</label>
                      <select type="text" class="" formControlName="category">
                        <option *ngFor="let item of categoryitem" [value]="item">{{item}}</option>
                      </select>
                    </div>

                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <a style="cursor: pointer"  (click)="Add()" [hidden]="myForm.controls.description.invalid" >Add Description</a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <button  class="btn btn-success btn-lg my-btn"   [disabled]="myForm.invalid">Add</button>
        </div>
      </div>
    </form>

  </div>

  </div>