<div class="container" >
<div>
    <input type="text" [(ngModel)]="ListFilter"> <span> Filter product</span>
</div>

    <div class=" list-product">
      <button class="btn btn-success" (click)="showImage()" >{{btnText}} image</button>

        <button class="btn btn-success" (click)="showDialogDin()" >open Modal 2</button>

    </div>

    <table class="table">
      <caption></caption>
      <thead>
      <tr>
        <th>image</th>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of arrayOfKeys " >
        <td (click)="[showDialog() , id= item]" style="cursor: pointer">
            <img *ngIf="showimg"
                 [ngStyle]="{'max-width' : '50px'} "
                 src="{{productes[item].img_url}}"></td>
            <td > <a [routerLink]="['/product', item]">{{productes[item].name | search: ListFilter}}</a></td>
        <td>{{productes[item].code}}</td>
        <td >{{productes[item].price | currency:'USD': true}}</td>
       <app-star [rating]="productes[item].rating"></app-star>


        </tr>
      </tbody>
    </table>
</div>
<app-modal-dialog *ngIf="isModalDialogVisible" (isConfirmed)="closeModal($event)"
                  [id]="id">
</app-modal-dialog>
<section #notificationBlock></section>